.footer {
    background-color: #0a58ca;
    color: #fff;  /* Change text color to white */
    padding: 20px;
    width: 100%;
}

.footer-menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.footer-menu li {
    cursor: pointer;
    color: #fff;  /* Change text color to white */
}

.footer .sdgku {
    border-top: #acacac solid 1px;
    background-color: #0a58ca;
    width: 100%;
    border-bottom: 5px solid #BB2626;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    color: #fff;  /* Change text color to white */
}

.footer .sdgku img {
    width: 10rem;
    margin-bottom: 1rem;
    margin: 10px;
}

.footer .sdgku p {
    font-size: 1rem;
    font-style: italic;
    color: #fff;  /* Change text color to white */
}

@media (max-width: 1024px) {
    .footer {
        display: block;
    }
}

@media (max-width: 768px) {
    .footer {
        display: inline-block;
    }
}

@media (max-width: 600px) {
    .footer {
        display: inline-block;
    }
}
