.page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.main-footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.footer-menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.footer-menu li {
    cursor: pointer;
}


.sdgku {
    border-top: #acacac solid 1px;
    background-color: #FFFFFF;
    border-bottom: 5px solid #BB2626;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
}

.sdgku img {
    width: 10rem;
    margin-bottom: 1rem;
}

.sdgku p {
    font-size: 1rem;
    font-style: italic;
    color: #333333;
}