body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 100%;
    margin-bottom: 2%;
    padding: 0 12%;
    margin: center;
    text-align: center;
}

.row {
    width: 100%;
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 2% auto;
    text-align: center;
    width: 100%;
}

.about {
    padding: 6%;
    
    background-color: #474e5d;
    color: white;
    text-align: center;
}

.about .page{
    text-align: center;
    
}



.container {
    margin: 0 auto;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 2%;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

.card img {
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 500%;
    width: 30%;
    box-shadow: 2px 2px 5px #888;
    margin: 2% auto;
    display: block;
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .column {
        width: 100%;
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .box {
        margin: 2% 5%;
        border-radius: 4px;
        border: 1px solid darkblue;
        width: 90%;
    }
}

@media (min-width: 1024px) {
    .box {
        margin: 2% 10%;
        border-radius: 6px;
        background-color: lightblue;
        width: 80%;
    }
}
