.fantasy-body {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(185, 196, 203, 0.4);
    line-height: 1;
}

.scrollable-players {
    max-height: 600px; /* Adjust the height to your preference */
    overflow: auto;
  }

.left-side{
    width: 100%;
    text-align: left;
}

.right-side{
    width: 100%;
    text-align: left;
    display: block;
    flex-direction: column;
}

/* .fantasy-body{
    width: 100%;
} */

@media (min-width: 768px) {
    .left-side {
      width: 65%;
    }
  
    .right-side {
      width: 33%;
    }
  }


.lineup-txt{
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.line-up{
    display: block;
    flex-direction: column;
}

.remaining-salary h1, .player-avg h1 {
    font-size: 20px;
}

.lineup-txt h1{
    font-size: 25px;
}

.salary-txt{
    display: flex;
    text-align: right;
}

.remaining-salary .player-avg{
    padding: 50px;
}

.bottom{
    font-size: 10px;
    text-transform: uppercase;
}