.post-editor {
    margin: 1rem auto; 
    max-width: 600px;
}

.panel-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.panel-body input {
    width: 100%;
    margin: 0 auto;
}
