.home{
    width: 100%;
    display: block;
    flex-direction: column;
}

.carousel-slide{
    margin-bottom: 60px;
}

.card-section{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-top: 50px;
}
.card-section2{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-bottom: 50px;
}

.card{
    margin: 10px;
}

.reasons{
    display: flex;
    flex-direction: row;
    margin: 3%;
    padding: 10px;
}

.sports-betting, .casino-games, .fantasy-sports, .horse-betting, .watch-play, .stay-informed{
    padding: 20px;
    text-align: left;
    width: 33%;
    align-items: center;
}

.why-section{
    display: block;
}

@media (max-width: 768px) { 
    .card-section, .card-section2 {
        display:block;
    }
    .reasons{
        display: flex;
        margin: -5px;
    }
 }

 @media (max-width: 425px) { 
    .reasons{
        width: 100%;
        display: block;
        flex-direction: column;
    }
    .sports-betting, .casino-games, .fantasy-sports, .horse-betting, .watch-play, .stay-informed{
        text-align: center;
        align-items: center;
        width: 100%;
    }
 }